<%= render "devise/shared/header" %>
  
    </div>
  </header>
  <p>
  </p>

<p>
 <% @question.each do |question| %>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
       <div class="col">
      <div class="card shadow-sm">
   <%= "問."%><%= link_to question.problem,question_path(question.id) %> 
     
     <div>
    <%= "カテゴリー："%><%= question.category.name %>
     </div>
     <p>
</div>
</div>
</div>
<% end %>