<%= render "devise/shared/header" %>
<%= form_with(url: search_questions_path, local: true, method: :get, class: "form-control") do |form| %>
<%= form.text_field :keyword, placeholder: "問題文を検索", class: "search-input" %>
<%= form.submit "検索", class: "btn btn-sm btn-outline-third" %>
<%= link_to"新規投稿",new_question_path,class:"btn btn-sm btn-outline-third"%>
<% end %>
<p>
<% if @questions.length !=0 %>
<% @questions.each do |question| %>
<div class="col" style="padding-left: 280px;padding-top: 10px;width: 1200px;">
<div class="card shadow-sm" >
<%= "問."%>
<%= link_to question.problem,question_path(question.id) %>
<div>
</div>
<p>
</div>
<%= link_to '戻る', questions_path,class: "btn btn-sm btn-outline-secondary" %>
</div>
</div>
<% end %>
<% else %>
<h1 style="text-align: center">検索結果なし</h1>
<%= link_to '戻る', questions_path,class: "btn btn-sm btn-outline-secondary" %>
<% end %>
<p>