<%= render "devise/shared/header" %>
  <body>
   <div class="container1">
   <%= image_tag "low-angle-view-of-modern-skyscrapers-under-the-sunlight-and-a-blue-sky-at-daytime.jpg",height:"550px" %>
   <p>F R E S H</p>
   <p1>〜若手技術者の教育に特化したサイト〜<p1>

   
   </div>
   <main class="container">
</div>

  <div class="row mb-2">
    <div class="col-md-6" style="padding-left: 3px; padding-right: 3px;">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        
   <%= "新着 試験方法" %>
   
      <% @ways.each do |way| %>
  
          <% if way.video.attached? %>
          <%= link_to "クリックすると動画が見れます",way_path(way.id)%>
          <% end %>
          <% if way.image.attached? %>
          <%= image_tag way.image,class:"bd-placeholder-img card-img-top",width:"100%",height:"300px" %>
          <% end %>
          <div class="card-body">
            <p class="card-text">
            <%= "試験名: " %>
            <%= way.name %>
            </p>
            <p class="card-text">
            <%= "説明文: " %>
            <%= way.text %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">
                <%= "投稿日時: " %>
                <%= l way.created_at %>
              </small>
              <small class="text-muted">
                <%= "投稿者: " %>
                <% if way.user.image.attached? %>
                <%=link_to image_tag(way.user.image,width:"30px",height:"30px",style:"border-radius: 50%"),"/users/#{way.user.id}" %>
                <% end %>
                <%=link_to way.user.nickname,"/users/#{way.user.id}" %>
              </small>
            
        <% end %>
        </div>
        <%= link_to '続きを見る', ways_path,class:"stretched-link" %>
      </div>
      


        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-left: 3px; padding-right: 3px;">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        <%= "新着 用語" %>
          <% @words.each do |word| %>
                        <div class="card-text">
                          <%= '・' %>
                            <%= word.word%>
                              <% end %>
       
        </div>
        <%= link_to '続きを見る', words_path,class:"stretched-link" %>
        
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="300"><title>Placeholder</title></svg>
</div>
      </div>
    </div>
  </div>
    </div>

 <div class="row mb-2">
  <div class="col-md-6" style="padding-left: 3px; padding-right: 3px;">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        <%= "新着 クイズ問題" %>
   
   
      <% @questions.each do |question| %>
  
         
          <div class="card-body">
            <p class="card-text">
            
            <%= "問:" %><%= question.problem%>
            </p>
            
            <div class="d-flex justify-content-between align-items-center">
             
          </div>
          <% end %>
        <%= link_to '続きを見る', questions_path,class:"stretched-link" %>
      </div>
      

 
        </div>
      </div>
    </div>
   <div class="col-md-6" style="padding-left: 3px; padding-right: 3px;">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <%= "新着 Q&A" %>
          <% @answers.each do |answer| %>
                        <div class="card-text">
                         
                            <%= '・' %><%= answer.title %>
                              <% end %>
       </div>
        <%= link_to '続きを見る', answers_path,class:"stretched-link" %>
        
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="300"><title>Placeholder</title></svg>
</div>
      </div>
    </div>
  </div>
    </div>
  
</html>