<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
       <%= link_to image_tag("fresh.png",width:"120px",height:"65px"), root_path%> 
      </div>
      

        <% if user_signed_in? %>
        <div class="col-4 d-flex justify-content-end align-items-center">
        
        <a class="btn btn-sm btn-outline-secondary" <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a>
       <% else %>
       <div class="col-4 d-flex justify-content-end align-items-center">
         <a class="btn btn-sm btn-outline-secondary" href="/users/sign_up">新規登録</a>
         <a class="btn btn-sm btn-outline-secondary" href="/users/sign_in">ログイン</a>
         <a class="btn btn-sm btn-outline-secondary" <%= link_to 'ゲスト ログイン', users_guest_sign_in_path, method: :post %></a>
      <% end %>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
    <% if controller_name != 'ways' %>
      <%=link_to '試験方法',ways_path,class:"p-2 link-secondary"%>
     <% else %>
     <%=link_to '試験方法',ways_path,class:"p-2 link-secondary",style:"color: blue;"%>
     <% end %> 
    <% if controller_name != 'words' %>
      <%=link_to '用語',words_path,class:"p-2 link-secondary"%>
    <% else %>
    <%=link_to '用語',words_path,class:"p-2 link-secondary",style:"color: blue;"%>
    <% end %>
    <% if controller_name != 'questions' %>
      <%=link_to 'クイズ問題',questions_path,class:"p-2 link-secondary"%>
      <% else %>
      <%=link_to 'クイズ問題',questions_path,class:"p-2 link-secondary",style:"color: blue;"%>
      <% end %>
    <% if controller_name != 'answers' %>
      <%=link_to 'Q&A',answers_path,class:"p-2 link-secondary"%>  
      <% else %>
      <%=link_to 'Q&A',answers_path,class:"p-2 link-secondary",style:"color: blue;"%> 
      <% end %>
      <div class="text-muted">
      <% if user_signed_in? %>
      <% if current_user.image.attached? %>
     <%=link_to image_tag(current_user.image,width:"30px",height:"30px",style:"border-radius: 50%"),"/users/#{current_user.id}" %>
    <% end %>
    <% if controller_name != 'users' %>
      <%=link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class:"p-2 link-secondary"%>
 <% else %>
      <%=link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class:"p-2 link-secondary",style:"color: blue;"%>
 <% end %>
  <% else %>
  <%= link_to 'FRESHとは',concretes_path,class:"p-2 link-secondary" ,style:"color: blue; font-size: 20px;"%>
  <% end %>
  </div>
   </nav>
  </div>
</div>