<%= render "devise/shared/header" %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
       <div class="col">
      <div class="card shadow-sm">
   <%= "問."%><%= @question.problem %> 
  

<div>

</div>
     <p>
 <div class="d-flex justify-content-between align-items-center"> 
     <div class="btn-group">
   
   <%= "カテゴリー："%><%= @question.category.name %> 
    </div>

       
<div>
</div>


</div>
</div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div class="col">
      <div class="card shadow-sm">
  <%= "正解 "%><%= @question.answerd.name %>
   <p>
   <%= "解説："%><%= @question.commentary %>
</div>
</div>
</div>