<%= render "devise/shared/header" %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
     
       <div class="col">
      <div class="card shadow-sm">
    
   <%= "問."%><%= @questions.problem %> 

<div>

</div>
     <p>
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div class="col">
      <div class="card shadow-sm">
   <%= "カテゴリー："%><%= @questions.category.name %> 
    </div>
    <p>
    </p>
    <div class="btn-group">
  <%= current_user.nickname %><%= "さんの答え：" %><%= @choice.choose.name %> 
       </div>
<div>
</div>
</div>

</div>
</div>
</div>

<p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div class="col">
      <div class="card shadow-sm">
  <%= "正解 "%><%= @questions.answerd.name %>
   <p>
   <%= "解説："%><%= @questions.commentary %>
</div>
<%= link_to'戻る',questions_path,class:'btn btn-sm btn-outline-secondary'%>
</div>
</div>