<%= render "devise/shared/header" %>
<div class="input-group">
	<input type="text" class="form-control">
  <a class="btn btn-sm btn-outline-third" href="#">検索</a>
<a class="btn btn-sm btn-outline-third" href="/ways/new">新規投稿</a>
  </div>
<p>




<div class="album py-5 bg-light">

    <div class="container">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @way.each do |way| %>
       <div class="col">
      <div class="card shadow-sm">
<% if way.video.attached? %>
<%= link_to "クリックすると動画が見れます",way_path(way.id)%>
<% end %>
            <% if way.image.attached? %>
            <%= link_to image_tag(way.image,class:"bd-placeholder-img card-img-top",width:"100%",height:"300px"),way_path(way.id) %>
          　<% end %>
      <div class="card-body">
          <p class="card-text">
          <%= link_to way.name,way_path(way.id) %>
          </p>
        
           <p class="card-text">
             <%= way.text %>
             </p>
   <div class="d-flex justify-content-between align-items-center">
                 <small class="text-muted"><%= l way.created_at %></small>

</div>
</div>

</div>
</div>
     <% end %>
      </div>
</div> 
</div>
        

