<%= render "devise/shared/header" %>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script><body>
    <div class="container">
      <div class="col" style="width:500px; word-break: break-all;padding-left: 16px;">
        <div class="card shadow-sm" style="background-color: green;">
           <% if @way.video.attached? %>
                <video src="<%= rails_blob_path(@way.video) %>" type="video/mp4" controls></video>
                  <% end %>
                  <% if @way.image.attached? %>
                   <%= image_tag @way.image ,width:"483px",height:"300px" %>
                    <% end %>
                    <div class="card-body">
                      <p class="card-text">
                        <%= "試験名: " %>
                          <%= @way.name %>
                      </p>
                      <p class="card-text">
                        <%= "説明文: " %>
                          <%= @way.text %>
                      </p>
                      <% if user_signed_in? && current_user.id != @way.user_id %>
                        <div class="d-flex justify-content-between align-items-center">
                          <tr>
                            <td>
                              <div id="way_<4c7b8fa768f1c6f8e2b421b7341ef8af />">
                                <%#= render "ways/way", post: @way %>
                              </div>
                            </td>
                          </tr>
                        </div>
                        <% end %>
                          <p>
                            <div class="d-flex justify-content-between align-items-center"> <small class="text-muted">
   <%= "投稿日時: " %> <%= l @way.created_at %>
  </small> <small class="text-muted">
    <%= "投稿者: " %>
    <% if @way.user.image.attached? %>
    <%=link_to image_tag(@way.user.image,width:"30px",height:"30px",style:"border-radius: 50%"),"/users/#{@way.user.id}" %>
    <% end %>
    <%=link_to @way.user.nickname,"/users/#{@way.user.id}" %>
  </small> </div>
                    </div>
        </div>
      </div>
    </div>
    <div class="col" style="width:850px;">
      <div class="album py-5 bg-light" style="width: 240px;height: 64px;padding-left: 16px;">
        <%= link_to '戻る', ways_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
          <% if user_signed_in? && current_user.id == @way.user.id %>
            <%= link_to '編集', edit_way_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
              <%= link_to '削除', way_path, method: :delete, class:'btn btn-sm btn-outline-secondary' %>
                <% end %>
                  <div class="col" style="width:850px;">
                    <div class="card-body">
                      <% if user_signed_in? && current_user.id != @way.user_id %>
                        <%= form_with model: [@way,@waycomment], local: true do |f|%>
                          <%= render 'devise/shared/error_messages', resource: @waycomment %>
                          <div class="field form-group"> <br>
                            <h3>
                              <%= f.label :text, "コメント" %>
                            </h3>
                            <%= f.text_area :text,id:"inputFile",class:"form-control2" ,type:"text", id:"article_title",rows:"10", cols:"60" %>
                          </div>
                          <div class="actions text-right">
                            <%= f.submit "送信する", class:"btn btn-sm btn-outline-secondary"  %>
                          </div>
                          <% end %>
                            <% else %>
                              <% end %> <br>
                                <h3>
                                  <%='コメント一覧'%>
                                </h3>
                                <% @waycomments.each do |waycomment| %>
                                  <% if @waycomments %>
                                    <div class="card2" style="word-break: break-all;">
                                      <%= waycomment.text %>
                                   
                                    </div>
                                    <% end %>
                                    
                                      <% end %>
                    </div>
                  </div>
      </div>
      <div>
  </body>