<%= render "devise/shared/header" %>
<%= search_form_for @p, url: answers_search_path do |f| %>
 
  <%= f.collection_select :category_id_eq, Category.all, :id, :name,class:"form-control" %>
  
  <%= f.submit '検索',class:"btn btn-sm btn-outline-third" %>
  <%= link_to"新規投稿",new_answer_path,class:"btn btn-sm btn-outline-third"%>
<% end %>
<% if @results.length !=0 %>
<%  @results.each do |answer| %>

<%= link_to answer.title,answer_path(answer.id) %>
<%= answer.question %>

<%= answer.category.name %>
<% end %>
<% else %>
<h1>検索結果なし</h1>

<% end %>
<%= link_to '戻る', answers_path %>