<%= render "devise/shared/header" %>

<p>
<div class="col" style="padding-left: 280px;padding-top: 10px;width: 1200px;">
            <div class="card shadow-sm">

  <p>
<%= "タイトル:" %><%= @answer.title %>
<p>
 <%= "質問:" %><%= @answer.question %>
<p>


<div class="d-flex justify-content-between align-items-center">  
 <small class="text-muted">
  <%= "投稿者:" %>
    <% if @answer.user.image.attached? %>
    <%=link_to image_tag(@answer.user.image,width:"30px",height:"30px",style:"border-radius: 50%"),"/users/#{@answer.user.id}" %>
    <% end %>
    <%=link_to @answer.user.nickname,"/users/#{@answer.user.id}" %>
    <small class="text-muted">
    <%=l @answer.created_at%>
  </small> 
</div>
</div>
</div>


<div class="album py-5 bg-light" style="width: 480px;height: 64px;padding-left: 280px;">
<%= link_to '戻る', answers_path,class: "btn btn-sm btn-outline-secondary" %>
<% if user_signed_in? && current_user.id == @answer.user.id %>
<%= link_to '編集', edit_answer_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
<%= link_to '削除', answer_path, method: :delete, class:'btn btn-sm btn-outline-secondary' %>
<% end %>
</div>


 <% if user_signed_in? && current_user.id != @answer.user_id %>
                        <%= form_with model: [@answer,@response], local: true do |f|%>
                          <%= render 'devise/shared/error_messages', resource: @response %>
                          <div class="field form-group" style="padding-left: 280px;"> <br>
                            <h3>
                              <%= f.label :text, "回答欄" %>
                            </h3>
                            <%= f.text_area :text,id:"inputFile",class:"form-control3" ,type:"text", id:"article_title",rows:"10", cols:"60",style:"padding-right: 0px;border-left-width: 1px;width: 917px;padding-left: 0px;"%>
                         
                          
                            <%= f.submit "答える", class:"btn btn-sm btn-outline-secondary"  %>
                          </div>
                          <% end %>
                            <% else %>
                              <% end %>
                               <br>

</div>



<h2 style="padding-left: 280px;">回答一覧</h2>

<div class="col" style="width: 1192px;padding-left: 280px;">
<% @responses.each do |response| %>
     
          <div class="card2" style="word-break: break-all;">
               <% if @responses %>
               <%= response.text %>
               <% end %>
               <small class="text-muted">
              <%= "投稿者: " %>
    <% if response.user.image.attached? %>
    <%= link_to image_tag(response.user.image,width:"30px",height:"30px",style:"border-radius: 50%"),"/users/#{response.user.id}" %>
    <% end %>
  <%=link_to response.user.nickname,"/users/#{response.user.id}" %>
               </div>
        
               <% end %>
               </div>
               </div>
</div>
