<%= render "devise/shared/header" %>
<div class="hand">
<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label>メールアドレス</label><br />
    <%= f.email_field :email, autofocus: true,id:"inputFile",class:"form-control4" ,type:"text", id:"article_title",rows:"10", cols:"60" %> <p>
  </div>

  <div class="field">
    <label>パスワード</label><br />
    <%= f.password_field :password, autocomplete: "current-password",id:"inputFile",class:"form-control4" ,type:"text", id:"article_title",rows:"10", cols:"60" %>
  </div>

  
<p>
  <div class="actions">
    <%= f.submit "ログイン",class:"btn btn-sm btn-outline-secondary"%>
  <p>
  </div>
  
<%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post,class:"btn btn-sm btn-outline-secondary" %>
<p>
<% end %>

<%= render "devise/shared/links" %>
</div>
<p>
