<%= render "devise/shared/header" %>
 <div class="col">
      <div class="card shadow-sm">
           
           
           

<div class="card-body">
        <p>
           <div class="card-text">
           <span style="font-size:30px; color:black; font-weight:bold;"><%= @word.word %></span><%= ' ('%><%= @word.yomi %><%= ')'%>
             <p>
           <div class="card-text">
           <%= '意味：' %><%= @word.mean %>
           <p>
           <div class="bd-placeholder-img card-img-top">
           <% if @word.image.attached? %>
            <%= image_tag @word.image,width:"300px",height:"300px" %>
          　<% end %>
     <p>
     <div class="d-flex justify-content-between align-items-center">
              

     <div class="btn-group">
      <%= link_to '戻る', words_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
      <% if user_signed_in? && current_user.id == @word.user.id %> 
      <%= link_to '編集', edit_word_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
     <%= link_to '削除', word_path, method: :delete, class:'btn btn-sm btn-outline-secondary' %> 
      <% end %> 
     </div>
     
      
         
</div>